@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-container {
    @apply border border-gray-200 border-opacity-40 shadow-card;
  }

  .card-blur {
    transition: filter 0.2s ease;
  }

  .card-blur.blured .card-image {
    filter: blur(3px); /* 첫 번째 이미지에만 블러 효과 */
    @apply rounded-t-2xl;
  }

  .card-blur.blured img:not(.card-image) {
    filter: none; /* 다른 이미지에 블러 제거(효과 없음) */
  }

  /* 스크롤바(테일윈드에서 require해야됨) */
  .custom-scrollbar {
    @apply scrollbar-thin scrollbar-track-gray-300 scrollbar-thumb-gray-500
  }
}

/* input태그 자동완성 시 배경색 없애기 */
input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: inset 0 0 0px 1000px #ffffff !important;
}
input:-webkit-autofill:focus {
  background-color: transparent !important;
  box-shadow: inset 0 0 0px 1000px #ffffff !important;
}
